# ignore standard build files

*.o
*.a
*.so
*.dylib
*~
*.mexmaci64

# ignore all symbolic links

Webots
Config/Config.lua
Framework/Robot/Body.lua
Framework/Robot/Sensor.lua
Framework/Robot/Kinematics.lua
Framework/Robot/Statics.lua
Framework/Robot/Dynamics.lua
Run/comms_manager
Run/init_robot
