<?xml version="1.0"?>
<model>
	<name>ASH Lower Body with Sensors</name>
	<version>1.0</version>
	<sdf version='1.3'>ash_lowerbody_sensors.sdf</sdf>
	<author>
		<name>Nikolaus Wittenstein</name>
		<email>nikolaus.wittenstein@gmail.com</email>
	</author>
	<description>
		ASH's torso and legs.
	</description>
</model>
